<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
        body {
            background-color: black;
        }
        h1{
            color: white;
        }
        .post{
            background-color: rgb(64, 220, 255);
            border-radius: 10px;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <h1>Tech Posts</h1>

    <% for(let post of posts){ %>
        <div class="post">
            <h2>@<%= post.user %></h2>
            <h3 > Content: <%= post.content %></h3>
            <h5>Likes:<%= post.likes %></h5><h5>id:<%= post.id %></h5>
            <button><a href="http://localhost:8080/posts/<%= post.id %>">See in detail</a></button>
        </div>
    <% } %>
    <br><br>
    <a href="http://localhost:8080/posts/new">Create New Post!</a>
</body>
</html>
