<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        
        table, th{
            border-collapse: collapse;
            border: 2px solid black;
            font-size: 35px;
            padding: 0px 20px;
        }
        td{
            border: 2px solid black;
            font-size: 25px;
            padding: 0px 20px;
        }

    </style>
</head>
<body>
    <form method="get" action="/new">
    <button>Add New User</button>
    </form>
    <table>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>email</th>
        </tr>

        <%for(result of results){ %>
            <tr>
            <td><%= result.id %></td>
            <td><%= result.name %></td>
            <td><%= result.email %></td>
            <td>
                <form method="get" action="/user/<%= result.id %>/edit">
                    <button>Edit</button>
                </form>
            </td>
            <td>
                <form method="get" action="/user/<%= result.id %>/delete">
                    <button>Delete</button>
                </form>
            </td>
            </tr>
        <% } %>
    </table>
</body>
</html>


<!--<form method="post" action="/user/id/edit?_method=PATCH">-->