<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <style>
        img{
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<br>
    <h1>Welcome to Instagram</h1><br>

    <h2>This page belongs to:<%= data.name %> </h2>
    <button>Follow</button>
    <button>Message</button><br><hr>

    <% for(let post of data.posts ) {%>
        <img src="<%= post.images %>"><br>
        <p>Likes:<%= post.likes %>        Comments:<%= post.comments %></p>
    <% } %>
    <h2>Followers</h2>
    <h3><%=  follow %></h3>
    <ol>
        <% for(let name of followers){ %>
            <li><%= name %></li>
        <% } %>
    </ul>
</body>
</html>