<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="chat-blocks">
        <h1>ChatApp</h1>
        <% for(let chat of chats){ %>
            <div class="chats">
                <div class="details">
                    <p>From:<%= chat.from %></p>
                    <p>To:<%= chat.to %></p>
                </div>
                <h4 class="message"><%= chat.msg %></h4>
                <p class="date"><%= chat.date %></p>
                <div class="btn">
                <form method="get" action="/chat/<%= chat._id %>/edit">
                    <button >EDIT</button>
                </form>
                <form method="POST" action="/chat/<%= chat._id %>?_method=DELETE">
                    <button >Delete</button>
                </form>
                </div>
            </div>
        <% } %>
    </div>
    <div class="send">
        <form method="post" action="/chat">
            <div class="detailInput">
            <div class="1"><p>From:</p><input type="text" placeholder="Name" name="from"></div>
            <div class="2"><p>To:</p><input type="text" placeholder="Name" name="to"></div>
            </div>
            <div class="sending">
            <input type="text" class="sendmsg" placeholder="Message..." name="msg">

            <button type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
</html>